<head>
    <style type="text/css">
        #Text1 {
            height: 34px;
        }
        #Text2 {
            height: 34px;
        }
        #Button1 {
            width: 104px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    
    <h2>Iniciar Sesión </h2>

</div>

<div class="row">
    <div class="col-md-4">
        <p>Usuario&nbsp;&nbsp;&nbsp; </p>
        <input id="Text1" type="text" /><br />
        <p>Contraseña</p>
        <p>
            <input id="Text2" type="text" /></p>
    </div>  
</div>
<p>
    <input id="Button1" type="button" value="Aceptar" /></p>
<p>
    &nbsp;</p>
