@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ingresar Nuevo Cliente</h2>
        <p>Nombre:
            <input id="Text1" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>Tipo de identificación:
            <select>
                 <option value="Cedula">Cédula</option>
                 <option value="Pasaporte">Pasaporte</option>
                 <option value="Cédula Residencia">Residencia</option>
                 <option value="Otro">Otro</option>
            </select>
        <p>Número de identificación:
            <input id="Text2" type="text" /></p>
        <p>Contraseña:
            <input id="Password1" type="password" /></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>
            &nbsp;</p>
    </div>
</div>